<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sample App - Search</title>
		<meta content="Home Page For Sample App." name="description">
		<meta charset="utf-8">
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="" name="author">
		<script src="https://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/static/css/main.css" rel='stylesheet' type='text/css'/>
	</head>
	<body>
		{{.LayoutContent}}
	</body>
</html>  