<!DOCTYPE html>
<html>
  <head>
    <title>Sample Form</title>
    <style>
      th {
        text-align: left;
        padding-right: 10px;
      }
      td {
        text-align: left;
        padding-right: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Add User</h1>
    <form action="/api/v1/users" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="email" placeholder="Email">
      <input type="text" name="phone" placeholder="Phone Number">
      <input type="submit">
    </form>
  <hr>
  <h1>Existing Users</h1>
  {{if .Users}}
    <table>
    <thead>
      <tr><th>Name</th><th>Email</th><th>Phone</th></tr>
    </thead>
    <tbody>
    {{range .Users}}
      <tr><td>{{.Name}}</td><td>{{.Email}}</td><td>{{.Phone}}</td></tr>
    {{end}}
    </tbody>
    </table>
  {{else}}
    <p>(no users)</p>
  {{end}}
  </body>
</html>
