<html ng-app="usersApp">
  <head>
    <meta charset="utf-8">
    <title>Users Example</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script src="/js/users.js"></script>

    <link rel="stylesheet" href="/css/users.css" />
  </head>
  <body ng-controller="UsersCtrl">
    <h1>Current Users</h1>
    <table>
      <tr>
        <th>First</th>
        <th>Last</th>
        <th>Email</th>
        <th>Company</th>
        <th>Address</th>
      </tr>
      <tr ng-repeat="user in users">
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.company}}</td>
        <td>
          <table class="addr">
            <tr ng-repeat="addr in user.addresses">
              <td>
                {{addr.line_one}}<br />
                {{addr.line_two}}<br />
                {{addr.city}}, {{addr.state}} {{addr.zipcode}}<br />
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
