<html>
  <head>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/highlight-style.min.css">
  </head>
  <body style="">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand"><img src="/assets/img/ardanlabs.png" alt="Ardan Labs">Go Training</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/courses/README.md">Courses</a></li>
            <li><a href="http://ardanlabs.com">Ardan Labs</a></li>
            <li><a href="http://goinggo.net">GoingGo</a></li>
          </ul>

        </div>
      </div>
    </div>
    <div class="container">
      {{ yield }}
    </div>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/highlight.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
  </body>
</html>
