<div class="top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><i class="glyphicon glyphicon-search"></i> SEARCH FOR ANYTHING</h1>
                <form action="/search" method="post">
                    <input class="form-control" name="term" type="text" value="{{.term}}"/>
                    <div class="check-boxes">
                    	<span>
                        	<input name="cnn" {{.cnn}} type="checkbox"/>&nbsp;CNN &nbsp;
                        </span>
                        <span>
                        	<input name="nyt" {{.nyt}} type="checkbox"/>&nbsp;NY Times &nbsp;
                        </span>
                        <span>
                        	<input name="bbc" {{.bbc}} type="checkbox"/>&nbsp;BBC &nbsp;
                        </span>
                        <span>
                        	<input name="first" {{.first}} type="checkbox"/>&nbsp;First
                        </span>
                    </div><!-- check-boxes -->
                    <input class="btn btn-default" type="submit" value="Search" style="font-size: 16px;"/>
                </form>
            </div><!-- col-md-12 -->
        </div><!-- row -->
    </div><!-- container -->
    <div class="clearfix"></div>
</div><!-- top -->

<div class="results-wrapper">
	{{.Results}}
</div>